@model KeToanGiaThanhSanPham.Models.DinhMucKyThuat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DinhMucKyThuat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DinhMucKyThuatId" />
            <div class="form-group">
                <label asp-for="SanPhamId" class="control-label"></label>
                <input asp-for="SanPhamId" class="form-control" />
                <span asp-validation-for="SanPhamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SanPham" class="control-label"></label>
                <input asp-for="SanPham" class="form-control" />
                <span asp-validation-for="SanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguyenVatLieuId" class="control-label"></label>
                <input asp-for="NguyenVatLieuId" class="form-control" />
                <span asp-validation-for="NguyenVatLieuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguyenVatLieu" class="control-label"></label>
                <input asp-for="NguyenVatLieu" class="form-control" />
                <span asp-validation-for="NguyenVatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDinhMuc" class="control-label"></label>
                <input asp-for="SoLuongDinhMuc" class="form-control" />
                <span asp-validation-for="SoLuongDinhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
